.simulation-graph {
    display: grid;
    grid-template-rows: 80% auto;
    grid-template-columns: 10% auto;
}

.simulation-graph .data-bar {
    width: 3%;
}

.simulation-graph > #y_legend {
    text-align: right;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.simulation-graph > #x_legend {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.simulation-graph .hour-label {
    width: 3.25%;
    text-align: center;
}