.simulation-graph {
    display: grid;
    grid-template-rows: 1fr 70% 1fr 1fr;
    grid-template-columns: 10% 1fr;
    width: 100cqw;
}

.simulation-graph .data-bar {
    width: 3%;
    height: 0;
    transition: height 1.2s ease-in;
}

.data-bar:hover {
    border-width: 3px;
    border-color: var(--foreground-rgb);
    transition: border-color .4s ease-in;
}

.simulation-graph > #data_bars {
    width: 100%;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.simulation-graph > #y_unit {
    font-weight: bold;
    text-align: right;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.simulation-graph > #y_legend {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    text-align: right;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.simulation-graph > #x_legend {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.simulation-graph > #result_cards {
    grid-column: 2 / 2;
    grid-row: 4 / 4;
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;
}

.simulation-graph .hour-label {
    width: 3.25%;
    text-align: center;
    font-size: 0.8em;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--background-start-rgb);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 1.2em;
    font-weight: bold;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 1400px){
    .simulation-graph .hour-label {
        font-size: 0.6em;
    }
}

@media (min-width: 1650px){
    .simulation-graph .hour-label {
        font-size: 1em;
    }
}