.simulation-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-width: 3px;
    padding: 1em;
    border-radius: 1em;
    border-color: var(--foreground-rgb);
}

.simulation-input > h3 {
    font-weight: bold;
}

.simulation-input > input {
    height: 1.5rem;
    cursor: pointer;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    border-radius: var(--rounded-box,1rem);
    background-color: rgb(var(--foreground-rgb));

}