.result-card {
    border-width: 2px;
    border-radius: 1em;
    margin: auto;
    padding: 1.5em;
    text-wrap: nowrap;
}

.result-card h3 {
    font-size: 1em;
}

.result-card h4 {
    font-size: 0.9em;
}